.stop-touch {
    touch-action: none;
    -ms-touch-action: none;
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal.hide {
    display: none; 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close-modal {
    position: absolute;
    top: 2px;
    right: 2px;
    border: 1px solid black;
    cursor: pointer; 
}

.section {
    margin: 30px auto; 
    width: 90%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    /* outline: 1px dotted red;   */
}

.section.reset-justify {
    justify-content: initial;
}

.user-email {
    width: 300px;
    height: 30px; 
    margin: 0 5px; 
}

.get-resource-btn {
    width: 200px;
    height: 30px; 
    margin: 5px 5px 0 0;  
}

.header {
    width: 90%; 
    font-size: 16px;
    margin-top: 30px; 
    margin-bottom: 30px; 
    /* outline: 1px solid red;  */
}

.header--left {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.share {
    width: 13%;
    height: 40px;
    font-size: inherit;
    cursor: pointer; 
}

.share:disabled {
    cursor: auto; 
}

.limit-reached {
    width: 80%; 
    max-width: 1500px;
    background-color: firebrick;
    color: white; 
    text-align: center; 
    padding: 15px;  
    margin: auto; 
    margin-top: 0;
    font-size: 18px; 
    display: none;
}

.limit-reached.show {
    display: block; 
}

#days-select {
    width: 60%; 
    height: 40px; 
    font-size: inherit;
}

.side-bar {
    /* outline: 1px solid red;  */
    width: 30%;   
    /* height: 850px;  */
    height: 400px; 
    overflow-y: auto; 
    /* overflow-x: hidden;  */
    align-self: flex-start;
    /* margin-top: 50px;   */
    display: flex; 
}

.day-events,
.hour-events {
    /* outline: 1px dotted yellowgreen;  */
    width: 90%; 
}

.day-events.hide,
.hour-events.hide {
    display: none;
}

.day-event {
    margin-bottom: 50px; 
}

.day-event.hide {
    display: none; 
}

.day-head {
    font-size: 18px; 
    text-align: center;
}

.single-event {
    /* border: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;  */
    height: 20px; 
    padding-top: 10px;  
    position: relative;
    width: 90%; 
    margin: 10px 0; 
}

.single-event .day-text { 
    overflow: hidden; 
    /* width: 100%; */
    width: 70%;
    height: 100%; 
    /* cursor: pointer;  */
    border: 0;
    border-bottom: 1px solid;
}

.single-event .day-text:focus { 
    outline: none;
}

.single-event img.remove-marker {
    position: absolute;
    right: -17px;
    top: 10px;   
    cursor: pointer; 
    width: 10px; 
}

img.remove-day {
    margin-bottom: -5px;
    cursor: pointer; 
}

.single-event img.get-directions {
    position: absolute;
    top: 5px;
    right: -50px; 
    cursor: pointer; 
}

.single-event img.remove-marker.hide,
.single-event img.get-directions.hide {
    display: none;
}

.single-event.hide {
    display: none;
}

/* .single-event:first-child:not(.hide) img.get-directions {
    display: none;
} */

.single-event.drag-sort-active {
    /* background: transparent;
    color: transparent; */
    /* border-left: 2px dotted black; */
    /* background-color: rgba(0,0,0,0.1);
    border: none; */
    opacity: 0.3;
}

.single-event.drag-sort-active-mobile {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px; 
}

.khonsu-data {
    width: 24%; 
    /* outline: 1px solid green; */
}

.khonsu-notes {
    display:flex;
    flex-direction:column;
    /* width:500px; */
}

.reservations .reserve.hide {
    display: none;
}

.reservations .reserve input {
    height: 30px; 
    margin-left: 2px;
}

.reservations .reserve-time {
    width: 25%; 
}

.reservations .reserve-info {
    width: 60%; 
}

.reservations .remove-reservation {
    width: 10px; 
    cursor: pointer; 
}

.reservations .add-reservation {
    margin-top: 2px; 
}

.map-url .map-url-link input {
    width: 98%; 
    height: 30px; 
    margin: 10px auto;
    display: block;
}

.map-url-qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.map-url-qrcode .map-url-qr {
    height: 200px;
    width: 200px; 
    /* margin: auto; */
    /* border: 1px solid black;  */
}

.save-khonsu-data {
    width: fit-content; 
}

.save-khonsu-data.save-khonsu-notes {
    margin: 2px auto;
}

.save-khonsu-data.save-qrcode {
    margin: 2px auto;
    display: block;
}

qr-code {
    width: 200px;
    height: 200px;
    margin: 2em auto;
    background-color: #fff;
}

.warn-info {
    position: absolute;
    top: 67px;
    left: 125px;
    font-size: 15px;
    color: red; 
}

.day-time-sections,
.day-times {
    width: 30%;
    height: 30px;
    margin-bottom: 10px; 
}

.day-time-sections {
    margin-bottom: 0; 
}

.day-times {
    margin-top: 2px;
}

.day-time-sections:focus,
.day-times:focus {
    outline: none;
}

.day-time.hide {
    display: none;
}

#map {
    width: 68%; 
    /* height: 850px;  */
    height: 400px; 
    align-self: start; 
} 

.time {
    font-size: 22px;
}

label {
    margin-right: 5px; 
}

.user-input {
    width: 60%; 
    height: 50px; 
    /* margin-bottom: 20px;  */
    font-size: inherit;
    position: relative; 
}

.days {
    margin-bottom: 20px; 
    font-size: 22px;
    width: 50%;  
}

.day {
    margin-bottom: 10px; 
}

.add-day {
    width: 30%;
    height: 40px; 
    font-size: inherit;
    /* margin-top: 10px;  */
    cursor: pointer; 
}

.dropdown {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer; 
} 

.location-row {
    margin-bottom: 5px;
}

.location-title {
    font-weight: bold; 
}

.location-review-pic img {
    width: 50px; 
}

.location-reviews .view-reviews {
    cursor: pointer;
    margin-bottom: 5px;
}

.location-reviews .view-reviews-text {
    border: 1px solid; 
    border-top: none;
    border-left: none;
    border-right: none;
    width: fit-content; 
}

.location-reviews .reviews-list.hide {
    display: none;
}

.location-reviews .reviews-list .review-data {
    margin: 10px 5px; 
}

.location-reviews .reviews-list .review-data-row {
    margin: 2px;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: -1px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
    margin-left: 2px; 
}

@media only screen and (max-width: 997px) {
    .section {
        flex-direction: column;
    }

    .header--left {
        margin-bottom: 5px; 
    }

    .share {
        margin-top: 5px;
    }

    .side-bar {
        width: 100%;  
        align-self: auto; 
        margin-top: 20px; 
        height: auto; 
    }

    #map {
        width: 100%;  
        height: 500px; 
    }
}

@media only screen and (max-width: 697px) {
    .header--left {
        flex-direction: column;
    }

    .add-day, #days-select {
        width: 100%; 
        margin-bottom: 2px;
    }

    .share {
        width: 50%; 
    }
}    